html,
body,
main {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
}

main,
.todo-list-header,
.todo-list-add,
.todo-list-task,
.todo-list-task-left,
#todo-list-clear-all {
  display: flex;
}

main,
#todo-list-clear-all {
  align-items: center;
  justify-content: center;
}

main {
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

i {
  color: #9b9b9b;
}

i:hover,
.container,
.container input,
#todo-list-clear-all div:hover {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through !important;
}

.todo-list-wrapper {
  box-shadow: rgba(178, 190, 195, 1) 0 5px 10px;
  background-color: white;
  min-width: 40%;
  margin: auto;
}

.todo-list-header,
.todo-list-add,
.todo-list-task,
#todo-list-clear-all {
  padding: 1rem;
}

.todo-list-header,
.todo-list-add,
.todo-list-task {
  border-bottom: #e4e4e4 2px solid;
}

.todo-list-header,
.todo-list-task {
  justify-content: space-between;
}

.todo-list-add {
  justify-content: flex-start;
}

.todo-list-add input {
  padding: 0;
  font-size: 15px;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.checkmark {
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid #bcbcbc;
}

.checkmark::after {
  content: "";
  display: none;
}

.container input,
.checkmark,
.checkmark::after {
  position: absolute;
}

.container .checkmark::after {
  left: 4px;
  width: 5px;
  height: 10px;
  border: solid #2196f3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container,
.container input:checked ~ .checkmark::after {
  display: block;
}

.container {
  position: relative;
  padding-left: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  opacity: 0;
  height: 0;
  width: 0;
}

.todo-list-add input:focus {
  outline: none;
}

.container input:checked ~ .checkmark {
  border: 0;
}

#todo-list-clear-all {
  background-color: #f6f6f6;
  color: #898989;
}

.draggable {
  cursor: move;
  user-select: none;
}
